---
layout: default
title: Portes
---
{% assign image_files = site.static_files | where: "image", true %}

{%- for item in site.data.fusteriaengeneral -%}
<div style="overflow: hidden;">
	<h2>{{ item.name }}</h2>
	<div class="sep"><span></span></div>
</div>

<p class="text-sm">{{ item.description }}</p>

<div class="row row-cols-2 my-3 g-0">
	{% if item.cataleg %}
	<div class="col-6 col-sm-8">
		<img class="img-fluid" src="/assets/img/portes/2500hires-tueren-290-1.jpg" alt="" />
	</div>

	<div class="col-6 col-sm-4 bg-primary p-3 d-flex flex-column">
		<div class="configurador h-100 m-3 d-none d-sm-block"
			style="background-image: url('/assets/img/portes/finstral-haustuerkonfigurator-de.png');">
		</div>
		<a href="{{ item.configurador }}" class="w-100 btn btn-secondary mt-auto" target="_blank">Configurador</a>
	</div>
	{% else %}
	{% for image in image_files %}
	{% if image.path contains item.folder %}
	{% if image.path contains '01' %}
	<div id="{{ item.folder }}Id" class="col-6 col-sm-8 expanded" style="background-image: url('{{ image.path }}');">
	</div>
	{% endif %}
	{% endif %}
	{% endfor %}
	<div class="col-6 col-sm-4 px-3">
		<div class="row row-cols-2 g-3">
			{% for image in image_files %}
			{% if image.path contains item.folder %}
			<div class="col">
				<img class="thumbnail" src="{{ site.baseurl }}{{ image.path }}" alt="image"
					data-expanded="{{ item.folder }}Id" />
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	{% endif %}
</div>

<div class="">
	<a href="/#contacte" class="btn btn-secondary mt-auto">Demana Pressupost</a>
	{% if item.cataleg %}
	<a href="{{ item.cataleg }}" class="btn btn-secondary mt-auto" target="_blank">Catàleg</a>
	{% endif %}
</div>
{% endfor -%}
