<nav class="navbar navbar-expand-lg navbar-primary bg-primary fixed-top">
	<div class="container">

		<span class="navbar-text p-0">
			<a href="phone:{{ site.phone.number }}">
				<i class="fa fa-phone"></i>
			</a>
			<a href="mailto:{{ site.email }}">{{ site.email }}</a>
			| Distribuidor de
			<img src="/assets/img/Logo_Finstral.svg" alt="Finstral" class="logo-finstral" />
		</span>

		<ul class="navbar-nav flex-row ms-auto p-0 mb-lg-0">
			<li class="nav-item ps-2 ps-lg-0">
				<a class="nav-link" rel="tooltip" title="{{ site.instagram.title }}"
					href="https://www.instagram.com/{{ site.instagram.username | escape }}" target="_blank">
					<i class="fa fa-instagram"></i>
				</a>
			</li>
			<li class="nav-item ps-2 ps-lg-0">
				<a class="nav-link" rel="tooltip" title="{{ site.facebook.title }}"
					href="https://www.facebook.com/{{ site.facebook.username | escape }}" target="_blank">
					<i class="fa fa-facebook-f"></i>
				</a>
			</li>
			<li class="nav-item ps-2 ps-lg-0">
				<a class="nav-link" rel="tooltip" title="{{ site.pinterest.title }}"
					href="https://www.pinterest.com/{{ site.pinterest.username | escape }}" target="_blank">
					<i class="fa fa-pinterest-p"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>

<nav class="navbar navbar-expand-lg navbar-white bg-white static-top" aria-label="Main navigation">
	<div class="container">
		<div class="div-navbar-brand cols-2 cols-md-4 mt-3">
			<a class="navbar-brand" href="/" title="{{ site.title | escape }}">
				<img src="/assets/img/Logo.svg" alt="" class="img-fluid" />
			</a>
		</div>


		<button class="navbar-toggler ms-auto mb-4 p-0 border-0" type="button" data-bs-toggle="offcanvas"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-bar"></span>
			<span class="navbar-toggler-bar"></span>
			<span class="navbar-toggler-bar"></span>
		</button>

		<div class="align-self-end">
			<div class="navbar-collapse offcanvas-collapse px-0" id="navbarsExampleDefault">
				<button class="navbar-toggler btn-close btn-close-white w-100" type="button" data-bs-toggle="offcanvas-close"
					aria-label="Toggle navigation">
				</button>

				<ul class="navbar-nav me-3 me-md-auto mb-0 fw-bold float-end">
					<li class="nav-item ms-lg-5">
						<a class="nav-link text-sm-uppercase" rel="tooltip" href="/">
							{% if page.url == "/" %}
							<span class="active">Inici</span>
							{% else %}
							Inici
							{% endif %}
						</a>
					</li>
					<li class="nav-item dropdown ms-lg-5">
						<a class="nav-link dropdown-toggle text-sm-uppercase" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" rel="tooltip" href="#">
							{% if page.url == "/" %}
							Serveis
							{% else %}
							<span class="active">Serveis</span>
							{% endif %}
						</a>
						<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end mt-lg-0" aria-labelledby="navbarDropdown">
							{%- for servei in site.serveis -%}
							<li><a class="dropdown-item"
									href="{{ servei | url_encode | downcase |remove: "+" }}.html">{{ servei }}</a></li>
							{% endfor -%}
						</ul>
					</li>
					<li class="nav-item ms-lg-5">
						<a class="nav-link text-sm-uppercase" rel="tooltip" href="/#clients">Clients</a>
					</li>
					<li class="nav-item ms-lg-5">
						<a class="nav-link text-sm-uppercase" rel="tooltip" href="/#contacte">Contacte</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
