---
---

@import "variables";
@import 'bootstrap/scss/bootstrap';

/* add additional CSS rules below */

.text-primary, .text-primary:hover {
  color: $dark !important;
}

body {
  font-weight: 300;
  font-family: 'Montserrat', "Helvetica", Arial, sans-serif;

  overflow-x: hidden; /* Prevent scroll on narrow devices */
  padding-top: 2.5em;
}

a {
  color: $secondary;
  text-decoration: none;
}

a:hover, a:focus {
  color: $secondary;
  text-decoration: none;
}

.navbar.fixed-top, footer {
  font-size: 14px;
}

.navbar-toggler-bar {
  display: block;
  position: relative;
  width: 24px;
  height: 3px;
  margin: 0 auto;
  background: $secondary;
}

.navbar-toggler-bar + .navbar-toggler-bar {
  margin-top: 4px;
}

span.active {
  border-bottom: 1px solid $secondary;
}

.logo-finstral {
  position: relative;
  bottom: 1px;
  height: .8em;
}

.logo {
  height: 2.5rem;
}

.dropdown-menu {
  text-align: right;
  border: 0;

  .dropdown-item {
    font-weight: bold;
    color: rgb(253, 253, 253);
  }
}

@media (min-width: 991.99px) {
  .dropdown-toggle.show {
    color: rgb(253, 253, 253);
    border-radius: .25rem .25rem 0 0;
    background-color: $secondary;
  }

  .dropdown-menu-dark {
    background-color: $secondary;
    border-radius: .25rem 0 .25rem .25rem;

    .dropdown-item:hover, .dropdown-item:focus {
      background-color: $active-color;
    }
  }
}

@media (max-width: 991.98px) {
  .navbar.fixed-top, footer {
    font-size: 11px;
  }
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 1rem; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: $secondary;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    text-align: right;

    .navbar-toggler {
       float: right;
       font-size: 1rem;
       border: 0;
       padding-top: 2.5rem;
       margin-right: 1rem;
       background-position: right;
    }

    a, a:hover, a:focus {
      font-size: 12px;
      line-height: 2em;
      font-family: "PT Sans", 'Montserrat', "Helvetica";
      color: rgb(253, 253, 253);
    }

    .text-sm-uppercase {
      text-transform: uppercase;
    }

    .dropdown-menu {
      background: transparent;
    }
  }

  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}
