---
---

@import "variables";
@import 'bootstrap/scss/bootstrap';

/* add additional CSS rules below */

body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  padding-top: 2rem;
}

h1, h2, a.btn {
  text-transform: uppercase;
}

h1 {
  line-height: 1.111;
  letter-spacing: 0.72px;
  color: black;
  background-color: $primary;

  span::before {
    content: "\A";
    white-space: pre;
  }
}

h2 {
  color: $secondary;
  float: left;
}

@include media-breakpoint-up(lg) {
  h2 {
    font-size: 2.781rem;
  }
}

@include media-breakpoint-down(sm) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(lg) {
  .sep {
    overflow: hidden;
    padding: 3.5rem 0 0 1rem;

    span {
      height: 1px;
      display: inline-block;
      background: $secondary;
      vertical-align: bottom;
      width: 100%;
    }
  }
}

.text-sm {
  font-size: $font-size-sm;
}

.btn:hover {
  color: $white;
  background-color: $active-color;
}

@include media-breakpoint-down(md) {
  a.btn {
    font-size: .7rem;
  }
}

/* Navbars */

.navbar.fixed-top, footer {
  font-size: $font-size-sm
}

@media screen and (max-width: 400px) {
  .navbar.fixed-top, footer {
    font-size: .7rem;
  }
}

@include media-breakpoint-up(lg) {
  .navbar.fixed-top, footer {
    font-size: 1rem;
  }
}

.navbar-toggler-bar {
  display: block;
  position: relative;
  width: 2rem;
  height: 3px;
  margin: 0 auto;
  background: $secondary;
}

.navbar-toggler-bar + .navbar-toggler-bar {
  margin-top: 4px;
}

span.active {
  border-bottom: 1px solid $secondary;
}

.logo-finstral {
  position: relative;
  bottom: 1px;
  height: .8em;
}

.logo {
  height: 3.938rem;
  margin-top: 1rem;
}

.dropdown-menu {
  text-align: right;

  .dropdown-item {
    font-weight: bold;
  }
}

@include media-breakpoint-up(lg) {
  .dropdown-toggle.show {
    color: rgb(253, 253, 253);
    border-radius: .25rem .25rem 0 0;
    background-color: $secondary;
  }
}

@include media-breakpoint-down(lg) {
  .offcanvas-collapse {
    position: fixed;
    top: 1rem; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: $secondary;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    text-align: right;
    z-index: 2;

    .navbar-toggler {
       float: right;
       border: 0;
       padding-top: 2.5rem;
       margin-right: 1rem;
       background-position: right;
    }

    a, a:hover, a:focus, .dropdown-item {
      line-height: 2em;
      color: $white;
    }

    .text-sm-uppercase {
      text-transform: uppercase;
    }

    .dropdown-menu {
      background: transparent;
    }
  }

  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

footer {
  margin-top: 3rem;
}

/* Home header */

.page-header {
  //background-image: url('../img/Moble_A_Mida_Slide.jpg');
  //background-position: top left;
  //background-repeat: no-repeat;
  //background-size: auto 90%;
  background-color: white;
  min-height: calc(100vh - 6rem);
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  margin-top: 1rem;
  border: 1px solid red;

  img {
    height: calc(100vh - 9.5rem);
    object-fit: cover;
  }

  .row {
    margin-top: -3.5rem;

    .title-tagline {
      text-align: left;
      max-width: 880px;
      display: block;
      z-index: 2;
    }
  }
}

/* Components */

.client.card {
  margin-top: 4.5rem;
  margin-right: 1.5rem;
  background: transparent;

  .card-body {
    background-color: white;

    .profile {
      height: 5rem;
      width: 5rem;
    }
  }
}

//@media (max-width: 992) {
@include media-breakpoint-down(lg) {
  .scrollable {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .client.card {
    min-width: 45%;
    min-height: 45%;
  }
}

.client-logo {
  height: 3.81rem;
  margin-right: 2.813rem;
}

@include media-breakpoint-down(lg) {
  .client-logo {
    margin-right: 3.375rem;
  }
}

@include media-breakpoint-down(sm) {
  .client-logo {
    height: 2.8rem;
    margin-right: 2.2rem;
  }
}

.configurador {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

img.expanded {
  object-fit: cover;
}

img.thumbnail {
  height: 18vw;
  object-fit: cover;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }

  @include media-breakpoint-up(lg) {
    height: 9vw;
  }
}
