---
---

@import "variables";
@import 'bootstrap/scss/bootstrap';

/* add additional CSS rules below */

.text-primary, .text-primary:hover {
  color: $dark !important;
}

body {
  font-weight: 300;
  font-family: 'Montserrat', "Helvetica", Arial, sans-serif;

  overflow-x: hidden; /* Prevent scroll on narrow devices */
  padding-top: 2.5em;
}

a {
  color: $secondary;
  text-decoration: none;
}

a:hover, a:focus {
  color: $secondary;
  text-decoration: none;
}

h1, h2 {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  @include font-size(4.5rem);
  line-height: 1.111;
  background-color: $primary;
}

h2 {
  @include font-size(1.2rem);
  line-height: 0.75;
  float: left;
}
  .sep {
    overflow: hidden;
    padding-left: 1rem;

    span {
      height: 1px;
      display: inline-block;
      background: black;
      vertical-align: bottom;
      width: 100%;
    }
  }

/* Navbars */

.navbar.fixed-top, footer {
  @include font-size(0.85rem);
}

.navbar-toggler-bar {
  display: block;
  position: relative;
  width: 24px;
  height: 3px;
  margin: 0 auto;
  background: $secondary;
}

.navbar-toggler-bar + .navbar-toggler-bar {
  margin-top: 4px;
}

span.active {
  border-bottom: 1px solid $secondary;
}

.logo-finstral {
  position: relative;
  bottom: 1px;
  height: .8em;
}

.logo {
  height: 2.5rem;
}

.dropdown-menu {
  text-align: right;
  border: 0;

  .dropdown-item {
    font-weight: bold;
    color: rgb(253, 253, 253);
  }
}

@media (min-width: 991.99px) {
  .dropdown-toggle.show {
    color: rgb(253, 253, 253);
    border-radius: .25rem .25rem 0 0;
    background-color: $secondary;
  }

  .dropdown-menu-dark {
    background-color: $secondary;
    border-radius: .25rem 0 .25rem .25rem;

    .dropdown-item:hover, .dropdown-item:focus {
      background-color: $active-color;
    }
  }
}

@media (max-width: 1200px) {
  .navbar.fixed-top, footer {
    font-size: 11px;
  }
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 1rem; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: $secondary;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    text-align: right;
    z-index: 2;

    .navbar-toggler {
       float: right;
       font-size: 1rem;
       border: 0;
       padding-top: 2.5rem;
       margin-right: 1rem;
       background-position: right;
    }

    a, a:hover, a:focus {
      font-size: 12px;
      line-height: 2em;
      font-family: "PT Sans", 'Montserrat', "Helvetica";
      color: rgb(253, 253, 253);
    }

    .text-sm-uppercase {
      text-transform: uppercase;
    }

    .dropdown-menu {
      background: transparent;
    }
  }

  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

footer {
  margin-top: 3rem;
}

/* Home header */

.page-header {
  background-image: url('../img/capcelera.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto (891px / 1336px)*100%;
  background-color: white;
  min-height: calc(100vh - 6rem);
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  margin-top: 1rem;
  border: 1px solid red;

  .row {
    margin-top: 20%;

    .title-tagline {
      text-align: left;
      max-width: 730px;
      display: block;
      z-index: 2;
    }
  }
}

@media (max-width: 991.98px) {
.title-tagline {
    max-width: 450px;
  }
}

/* Components */

.servei.card {
  border: 0;

  img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }


  a.btn {
    border: 0;
    font-size: .6rem;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    line-height: 0.75;

    &:hover {
      border: 0;
      color: white;
      background: $active-color;
    }
  }

  @media (min-width: 768px) {
    img {
      width: 40%;
      font-size: 3.5rem;
    }
    a.btn {
      font-size: 1.2rem;
    }
  }
}

.client.card {
  border: 0;
  margin-top: 4.5rem;
  background: transparent;

  .card-body {
    background-color: white;

    .profile {
      height: 5rem;
      width: 5rem;
    }
  }
}
