<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ca" }}">
{% include header.html %}

<body>
	{% include navbar.html %}

	<div class="page-header">
		<div class="page-header-image"></div>
		<div class="container">
			<div class="row justify-content-start">
				<div class="col title-tagline">
					<h1 class="px-3 shadow-sm">El teu fuster<span>al Pallars Sobirà</span></h1>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		{{ content }}
	</div>
	{% include footer.html %}
</body>

</html>
